{% extends "theonlinepopcorn/insidefilm.html" %}
{% load static %}

{% block upper %}
<meta name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, interactive-widget=resizes-content" />
<link rel="stylesheet" href="{% static 'theonlinepopcorn/thefilm.css' %}">
<link rel="stylesheet" href="{% static 'theonlinepopcorn/leftpanel.css' %}">
<link rel="stylesheet" href="{% static 'theonlinepopcorn/utility.css' %}">
<link rel="stylesheet" href="{% static 'theonlinepopcorn/starry.css' %}">
<title>The Idea Of You</title>
{% endblock %}

{% block content %}
    <div class="header">

        <h1>The Idea of You (2024) | TheOnlinePopcorn</h1>
        <img src="https://i.ytimg.com/vi/V8i6PB0gGOA/maxresdefault.jpg" alt="">

    </div>

    <h2> -: Film Storyline :-</h2>
    <h3> Solène (Anne Hathaway), a 40-year-old single mom, begins an unexpected romance with 24-year-old
        Hayes Campbell (Nicholas Galitzine), the lead singer of August Moon, the hottest boy band on the
        planet. When Solène must step in to chaperone her teenage daughter's trip to the Coachella Music
        Festival after her ex bails at the last minute, she has a chance encounter with Hayes and there
        is an instant, undeniable spark. As they begin a whirlwind romance, it isn't long before Hayes'
        superstar status poses unavoidable challenges to their relationship, and Solène soon discovers
        that life in the glare of his spotlight might be more than she bargained for.</h3>

    <h2> -: How to get Films & Series from TheOnlinePopcorn :-</h2>
    <h3>
        <li>First go to the film or series page you want to watch like this one.</li>
        <li>Then below there you will get a youtube video under "Watch Clips & Scenes!" section.</li>
        <li>Go to the video's description.</li>
        <li>In the description you will find one telegram link(TOP's Enjoying link).</li>
        <li>Click on it to go to telegram post.</li>
        <li>From that post you can download the whole film/series.</li>
        <li>The file is encrypted for safety reasons.</li>
        <li>And in the youtube video description you'll find a passcode link too.</li>
        <li>Click on that link and download the pdf file.</li>
        <li>The passcode is given in that pdf.</li>
        <li>Use it to open the film/series!</li>
        <li>Now you can watch it without internet anytime & anywhere!👀🍿</li>
    </h3>

    <h2> Watch Clips & Scenes!😚</h2>
    <div class="theopytsec">
        <iframe class="theopyt" src="https://www.youtube.com/embed/5g4WLlZBGao?si=IfezcWux0TpdSxvt"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen>
        </iframe>
    </div>

    <div class="downbut">
        <h3> <a href="https://t.me/TheOnlinePopcornTOP/31"> The Idea of You </a> </h3>
        <h3>Passcode is given in the link in above youtube video's description! </h3>
    </div>
{% endblock %}